/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Set background color and text color */
  body {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
  
  /* Center the content vertically and horizontally */
  #test-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* Styling for the questions container */
  #questions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  /* Styling for the radio-select container */
  .radio-select {
    padding: 10px;
  }
  
  /* Styling for the question label */
  .question {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* Styling for the radio-option label */
  .radio-option {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Styling for the answer radio input */
  .answer {
    margin-right: 5px;
  }
  
  /* Styling for the finish button container */
  #button-finish {
    display: flex;
    justify-content: center;
  }
  
  /* Styling for the finish button */
  #finish-test {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: rgb(0, 145, 0);
    border: none;
    color: #e0e0e0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect on finish button */
  #finish-test:hover {
    background-color: rgb(0, 200, 0);
  }
  
  /* Media query for responsive layout on smaller screens */
  @media (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    .question {
      font-size: 14px;
    }
  
    .radio-option {
      font-size: 12px;
    }
  
    #finish-test {
      font-size: 16px;
    }
  }
  